@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.primary-gradient {
  background: #ffc800;
  background: linear-gradient(-90deg, #ffc800 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #ffc800 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.secondary-gradient {
  background: #bd9400;
  background: linear-gradient(90deg, #bd9400 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    90deg,
    #bd9400 0%,
    rgba(60, 51, 80, 0) 100%
  );
}
